<div class="Header">
    <img src="../../Assets/AtoBLogo.png" class="HeaderLogo" alt="Logo">
    <div class="HeaderLinks closed">
        <a href="#" class="HeaderLink">Home</a>
        <a href="#" class="HeaderLink">About</a>
        <a href="#" class="HeaderLink">Services</a>
        <a href="#" class="HeaderLink">Contact</a>
    </div>
    <img src="../../Assets/Hamburger_icon.png" class="HeaderLinksHamburger" alt="Menu">
    <button class="HeaderButton">Sign Up</button>
</div>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../CSS/Components/Header.css">
    <title>Header</title>
</head>
<body>

    <div class="Header">
        <img src="logo.png" class="HeaderLogo" alt="Logo">
        <div class="HeaderLinks closed">
            <a href="#" class="NavBarLink">Home</a>
            <a href="#" class="NavBarLink">About</a>
            <a href="#" class="NavBarLink">Services</a>
            <a href="#" class="NavBarLink">Contact</a>
        </div>
        <img src="hamburger-icon.png" class="HeaderLinksHamburger" alt="Menu">
        <button class="HeaderButton">Sign Up</button>
    </div>

    <script src="../../JavaScript/Components/Header.js"></script>
</body>
</html> -->
